<div class="page-header">
	<h1>Contact Me Here</h1>
</div>

<div class="input-group input-group-lg">
  <span class="input-group-addon">What is Your Name?</span>
  <input type="text" class="form-control" placeholder="You know this right?">
</div>

<div class="input-group input-group-lg">
  <span class="input-group-addon">Now... Your Social Security # PLZ?</span>
  <input type="text" class="form-control" placeholder="and thank you!">
</div>
